{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./"],
      "extensions": [
        ".ios.ts",
        ".android.ts",
        ".ts",
        ".ios.tsx",
        ".android.tsx",
        ".tsx",
        ".jsx",
        ".js",
        ".json"
      ],
      "alias": {
        "src": "./src",
        "@assets": "./src/assets",
        "@styles": "./src/styles",
        "@components": "./src/components",
        "@atoms": "./src/components/atoms",
        "@molecules": "./src/components/molecules",
        "@organisms": "./src/components/organisms",
        "@templates": "./src/components/templates",
        "@pages": "./src/components/pages",
        "@screens": "./src/screens"
      }
    }]
  ]
}